<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<%= render "form", tweet: @tweet %>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      
    </p>
  <% end %>
</div>

<%= raw pagy_bootstrap_nav(@pagy) %>