.tweet {
    display: flex;
    flex-direction: row;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.tweet-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-inline: 10px;
}